:root {
  --primary: #1b5bf7;
  --white: #fff;
  --primary-disabled: #84a0e7;
  --black: #18191f;
  --background: #f4f7ff;
  --font-color: #464359;
  --bg-secondary: #e0e8ff;
  --bg-shadow: #e5e9f2;
}
